{% extends 'base.html' %}

{% block head %}

    {% if wait == True %}
        <meta http-equiv="refresh" content="2" >
    {% else %}
        <script>
        document.onkeydown = checkKeyDown;

        function checkKeyDown(k){
            if (k.keyCode == "38") {
                window.location.href = 'game?x={{ game.player.position.x - 1 }}&y={{ game.player.position.y }}';
            }else if (k.keyCode == "39"){
                window.location.href = 'game?x={{ game.player.position.x }}&y={{ game.player.position.y + 1 }}';
            }else if (k.keyCode == "40"){
                window.location.href = 'game?x={{ game.player.position.x + 1 }}&y={{ game.player.position.y }}';
            }else if (k.keyCode == "37"){
                window.location.href = 'game?x={{ game.player.position.x }}&y={{ game.player.position.y - 1 }}';
            }else if (k.keyCode == "9"){
                window.location.href = '{{ url_for('game', endTurn = 1) }}';
            }else if (k.keyCode == "68"){
                window.location.href = '{{ url_for('game', action = 'meditate') }}';
            }else if (k.keyCode == "81"){
                window.location.href = '{{ url_for('game', item = 'bottle') }}';
            }else if (k.keyCode == "87"){
                window.location.href = '{{ url_for('game', item = 'rope') }}';
            }else if (k.keyCode == "69"){
                window.location.href = '{{ url_for('game', item = 'trap') }}';
            }else if (k.keyCode == "65"){
                window.location.href = '{{ url_for('game', item = 'sonar') }}';
            }else if (k.keyCode == "83") {
                window.location.href = '{{ url_for('game', item = 'key') }}';
            }
        }
        </script>
    {% endif %}

{% endblock %}

{% block body %}
    {% if wait == True %}
        <h4><a href="{{ url_for('mode') }}">Wyjdź z gry</a></h4>
        <h1>Tura przeciwnika</h1>
    {% else %}
        <div class="board">
            <div class="legend">
                <h4><a href="{{ url_for('mode') }}">Wyjdź z gry</a></h4><br>
                <h3>LEGENDA</h3>
                <p>G - gracz</p>
                <p>Q - wyjście z labiryntu (fioletowe)</p>
                <p>I - przedmiot</p>
                <p>K - klucz</p><br>
                <p>Kolory pól:</p>
                <p>czarne - niewidoczne</p>
                <p>szare - odwiedzone</p>
                <p>białe - widoczne sąsiednie</p>
                <p>turkusowe - podświetlenie przy wyborze</p>
                <p>zielone - obecny gracz</p>
                <p>czerowne - przeciwnik</p>
                <p>żółte - pole z dwoma graczami</p><br>
                <p>Kolory ścian:</p>
                <p>niebieskie - ściana niemożliwa do wspinania</p>
                <p>brązowe - ściana możliwa do wspinania</p>
                <p>pomarańczowe - drzwi otwierane kluczem</p>
            </div>
            <div class="equipment">
                <br><br><br><br><br>
                <h2>TURA GRACZA NR: {{ playerNumber }}</h2>
                <h3>EKWIPUNEK</h3>
                <p>WYTRZYMAŁOŚĆ:<b> {{ game.player.stamina }}</b></p>
                <p><b>[Q] <a href="{{ url_for('game', item = 'bottle') }}">butelki z wodą</a>: {{ game.player.bottle }}</b> (+{{ game.player.maxStamina }} wytrzymałości)</p>
                <p><b>[W] <a href="{{ url_for('game', item = 'rope') }}">lina z kotwiczką</a>: {{ game.player.rope }}</b> (-30 wytrzymałości)</p>
                <p><b>[E] <a href="{{ url_for('game', item = 'trap') }}">pułapka</a>: {{ game.player.trap }}</b> (-20 wytrzymałości)</p>
                <p><b>[A] <a href="{{ url_for('game', item = 'sonar') }}">sonar</a>: {{ game.player.sonar }}</b> (-30 wytrzym)</p>
                <p><b>[S] <a href="{{ url_for('game', item = 'key') }}">klucz</a>: {{ game.player.key }}</b></p>
                <p><b>[D] <a href="{{ url_for('game', action = 'meditate') }}">MEDYTACJA</a></b> (+{{ game.player.maxStamina }} wytrzym)</p>
                <p><b>[TAB] <a href="{{ url_for('game', endTurn = 1) }}">ZAKOŃCZ TURĘ</a></b> (+{{ 4 * game.maze.size }} wytrzymałości)</p>
                <br>
                <h2>{{ game.info }}</h2>
                <h2>{{ game.collectible }}</h2>
            </div>
            <div class="maze{% if game.difficulty == 'easy' %} mazeWhite{% else %} mazeBlack{% endif %}{% if game.maze.size==40 %} maze40{%
                    elif game.maze.size==30 %} maze30{% elif game.maze.size==20 %} maze20{% elif game.maze.size==10 %} maze10{% endif %}">
            {% for x in range(game.maze.size) %}
                {% for y in range(game.maze.size) %}
                    {% if game.difficulty == 'easy' %}
                        <div class="cell{% if game.player.stamina > 0 and (game.maze.cells[x][y] in area or game.maze.cells[x][y] in doorArea or game.maze.cells[x][y] in ropeArea) %} cellWithStamina{%
                                endif %}{% if game.maze.cells[x][y] in doorArea and game.maze.cells[x][y] not in area %} doorArea{%
                                elif game.maze.cells[x][y] in ropeArea and game.maze.cells[x][y] not in area %} ropeArea{% else %}{% if game.maze.cells[x][y] in area %}{%
                                if game.maze.cells[x][y].content=='available' %} available{% elif game.maze.cells[x][y].content=='item' %} item{%
                                elif game.maze.cells[x][y].content=='key' %} key{% elif game.maze.cells[x][y].content=='end' %} end{% elif game.maze.cells[x][y] != game.player.position%} enemy{%
                                elif game.maze.cells[x][y].numberOfPlayers > 1 %} twoPlayers{% else %} currentPlayer{% endif %}{% endif %}{%
                                if game.maze.cells[x][y].walls['top']=='none' %} top-none{% elif game.maze.cells[x][y].walls['top']=='notClimb' %} top-notClimb{%
                                elif game.maze.cells[x][y].walls['top']=='climb' %} top-climb{% elif game.maze.cells[x][y].walls['top']=='door' %} top-door{% endif %}{%
                                if game.maze.cells[x][y].walls['right']=='none' %} right-none{% elif game.maze.cells[x][y].walls['right']=='notClimb' %} right-notClimb{%
                                elif game.maze.cells[x][y].walls['right']=='climb' %} right-climb{% elif game.maze.cells[x][y].walls['right']=='door' %} right-door{% endif %}{%
                                if game.maze.cells[x][y].walls['bottom']=='none' %} bottom-none{% elif game.maze.cells[x][y].walls['bottom']=='notClimb' %} bottom-notClimb{%
                                elif game.maze.cells[x][y].walls['bottom']=='climb' %} bottom-climb{% elif game.maze.cells[x][y].walls['bottom']=='door' %} bottom-door{% endif %}{%
                                if game.maze.cells[x][y].walls['left']=='none' %} left-none{% elif game.maze.cells[x][y].walls['left']=='notClimb' %} left-notClimb{%
                                elif game.maze.cells[x][y].walls['left']=='climb' %} left-climb{% elif game.maze.cells[x][y].walls['left']=='door' %} left-door{% endif %}{% endif %}">
                            <a href="{{ url_for('game', x=x, y=y) }}">{%
                                    if game.maze.cells[x][y].content=='end' and game.maze.cells[x][y] in area %}Q{%
                                            elif game.maze.cells[x][y].content=='item' and game.maze.cells[x][y] in area %}I{%
                                            elif game.maze.cells[x][y].content=='key' and game.maze.cells[x][y] in area %}K{%
                                            elif (game.maze.cells[x][y].numberOfPlayers > 0) and game.maze.cells[x][y] in area %}G{%
                                            else %} {%
                                            endif %}</a>
                        </div>
                    {% else %}
                        <div class="cell{% if game.player.stamina > 0 %} cellWithStamina{% endif %}{%
                                if game.maze.cells[x][y] not in area and game.maze.cells[x][y] not in doorArea and game.maze.cells[x][y] not in ropeArea and game.maze.cells[x][y] not in visited %} hidden{%
                                elif game.maze.cells[x][y] in doorArea and game.maze.cells[x][y] not in area %} doorArea{% elif game.maze.cells[x][y] in ropeArea and game.maze.cells[x][y] not in area %} ropeArea{%
                                else %}{% if game.maze.cells[x][y] in visited and game.maze.cells[x][y] not in area and  game.maze.cells[x][y] not in doorArea and game.maze.cells[x][y] not in ropeArea %} visited{%
                                elif game.maze.cells[x][y].content=='available' %} available{% elif game.maze.cells[x][y].content=='item' %} item{% elif game.maze.cells[x][y].content=='key' %} key{%
                                elif game.maze.cells[x][y].content=='end' %} end{% elif game.maze.cells[x][y] != game.player.position %} enemy{% elif game.maze.cells[x][y].numberOfPlayers > 1 %} twoPlayers{%
                                else %} currentPlayer{% endif %}{%
                                if game.maze.cells[x][y] in visited and game.maze.cells[x][y] not in area and game.maze.cells[x][y] not in doorArea and game.maze.cells[x][y] not in ropeArea and game.maze.cells[x][y].walls['top']=='none' %} top-visited{%
                                elif game.maze.cells[x][y].walls['top']=='none' %} top-none{% elif game.maze.cells[x][y].walls['top']=='notClimb' %} top-notClimb{%
                                elif game.maze.cells[x][y].walls['top']=='climb' %} top-climb{% elif game.maze.cells[x][y].walls['top']=='door' %} top-door{% endif %}{%
                                if game.maze.cells[x][y] in visited and game.maze.cells[x][y] not in area and game.maze.cells[x][y] not in doorArea and game.maze.cells[x][y] not in ropeArea and game.maze.cells[x][y].walls['right']=='none' %} right-visited{%
                                elif game.maze.cells[x][y].walls['right']=='none' %} right-none{% elif game.maze.cells[x][y].walls['right']=='notClimb' %} right-notClimb{%
                                elif game.maze.cells[x][y].walls['right']=='climb' %} right-climb{% elif game.maze.cells[x][y].walls['right']=='door' %} right-door{% endif %}{%
                                if game.maze.cells[x][y] in visited and game.maze.cells[x][y] not in area and game.maze.cells[x][y] not in doorArea and game.maze.cells[x][y] not in ropeArea and game.maze.cells[x][y].walls['bottom']=='none' %} bottom-visited{%
                                elif game.maze.cells[x][y].walls['bottom']=='none' %} bottom-none{% elif game.maze.cells[x][y].walls['bottom']=='notClimb' %} bottom-notClimb{%
                                elif game.maze.cells[x][y].walls['bottom']=='climb' %} bottom-climb{% elif game.maze.cells[x][y].walls['bottom']=='door' %} bottom-door{% endif %}{%
                                if game.maze.cells[x][y] in visited and game.maze.cells[x][y] not in area and game.maze.cells[x][y] not in doorArea and game.maze.cells[x][y] not in ropeArea and game.maze.cells[x][y].walls['left']=='none' %} left-visited{%
                                elif game.maze.cells[x][y].walls['left']=='none' %} left-none{% elif game.maze.cells[x][y].walls['left']=='notClimb' %} left-notClimb{%
                                elif game.maze.cells[x][y].walls['left']=='climb' %} left-climb{% elif game.maze.cells[x][y].walls['left']=='door' %} left-door{% endif %}{% endif %}">
                            <a href="{{ url_for('game', x=x, y=y) }}">{%
                                    if game.maze.cells[x][y].content=='end' and game.maze.cells[x][y] in area %}Q{%
                                            elif game.maze.cells[x][y].content=='item' and game.maze.cells[x][y] in area %}I{%
                                            elif game.maze.cells[x][y].content=='key' and game.maze.cells[x][y] in area %}K{%
                                            elif (game.maze.cells[x][y].numberOfPlayers > 0) and game.maze.cells[x][y] in area %}G{%
                                            else %} {%
                                            endif %}</a>
                        </div>
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}