{% extends 'base.html' %}

{% block head %}
    {% if game.begin == False %}
        <meta http-equiv="refresh" content="2" >
    {% endif %}
{% endblock %}

{% block body %}
    <h4><a href="{{ url_for('multiplayer') }}">Powrót</a></h4><br>
    <h2>Tryb multiplayer</h2>
    {% if size == 10 %}
        <h3>10x10</h3>
    {% elif size == 20 %}
        <h3>20x20</h3>
    {% elif size == 30 %}
        <h3>30x30</h3>
    {% elif size == 40 %}
        <h3>40x40</h3>
    {% endif %}
    {% if difficulty == 'easy' %}
        <h3>Łatwy</h3>
    {% elif difficulty == 'medium' %}
        <h3>Średni</h3>
    {% elif difficulty == 'hard' %}
        <h3>Trudny</h3>
    {% endif %}
    <h2>Oczekiwanie na rozpoczęcie</h2>
{% endblock %}