{% extends 'base.html' %}

{% block head %}
    <meta http-equiv="refresh" content="2" >
{% endblock %}

{% block body %}
    <a href="{{ url_for('mode') }}">Powrót</a><br><br>
    <h3><a href="{{ url_for('settings', mode='multiplayer') }}">Stwórz grę</a></h3>
    <h4>Lista gier</h4>
    {% for game in games %}
        {% if games[game].mode == 'multiplayer' and games[game].full == False %}
            <p>Gra nr {{ game }} <a href="{{ url_for('join', gameNumber=game) }}">Dołącz do gry</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}