{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <a href="{{ url_for('settings', mode=mode) }}">Powrót</a>
    {% if mode == 'hotseat' %}
        <h3>Tryb Hotseat</h3>
    {% elif mode == 'ai' %}
        <h3>Tryb vs komputer</h3>
    {% endif %}
    {% if size == '10' %}
        <h4>10x10</h4>
    {% elif size == '20' %}
        <h4>20x20</h4>
    {% elif size == '30' %}
        <h4>30x30</h4>
    {% elif size == '40' %}
        <h4>40x40</h4>
    {% endif %}
    {% if difficulty == 'easy' %}
        <h4>Łatwy</h4>
    {% elif difficulty == 'medium' %}
        <h4>Średni</h4>
    {% elif difficulty == 'hard' %}
        <h4>Trudny</h4>
    {% endif %}
    {% if aiDifficulty == 'easy' %}
        <h4>Łatwe AI</h4>
    {% elif aiDifficulty == 'hard' %}
        <h4>Trudne AI</h4>
    {% endif %}
    <h2><a href="{{ url_for('game') }}">Zacznij grę</a></h2>
{% endblock %}